/* Author: V. Balaji (v.balaji@noaa.gov)
   My basic style file:
   changing colours in other CSSs might require changing them all.

   colors are mildly earth-tonish pastels
   visited links are fainter than unvisited
   <pre>s are highlighted blocks, lighter than body.
   title blocks can be specified with <div class="title">
   recent additions to document are marked with <div class="new">

   Most lengths are specified in ems, which seem to be wider than
   I expected, but are preferred because I expect them to scale
   with the user's choice of font. */
body {
  background-color:#ffffe0; /* LightYellow */
  /*   padding:1em; default padding leaves text too close to browser frame */
}
a:visited {color:#556b2f} /* DarkOliveGreen */
a:link    {color:#8b0000} /* DarkRed */

/* blockquote isn't the same as pre! */
blockquote {
  background-color:#eeeee0;
/*   border-style:none; border-width:1em; padding:1em; */
  border-style:solid; border-width:1px;
  padding:1em;
}
pre {
  background-color:#fffacd; /* LemonChiffon */
  border-style:none; border-width:1em;
  padding:1em;
  /* white-space:pre; */ /* looks redundant but is apparently required */
}
tt  {font-weight:bold} /* default tt (usually courier-medium) is too weak */
code {font-family:monospace; font-weight:bold}
address { font-family:sans-serif; font-style:normal; font-size:small; }
small {font-family:sans-serif; font-style:normal; font-size:small} /* my smalls are not */

td h2,h3,h4 {text-align:left; font-weight:bold;}
td h2,h3    {border-bottom:thin solid grey;}
td h2       {font-size:150%;}
td h3,h4    {font-color:red;}

/* Style sheet for title block
   must be created using <div class="title"> ... </div> */
div.title {
  border-style:none; border-left-width:1em; border-right-width:1em;
  padding-left:1em; padding-right:1em;
}
div.title h1 {text-align:center;}
div.title h2 {text-align:left;}
div.title h4 {text-align:left;}

div.new {
  border-style:none; border-width:0em;
  color:#483d8b; /* DarkSlateBlue */
}

/* should generalize to all elements containing code */
td.code { font-family:monospace; font-weight:bold; }

/* all items below relate to emacs-muse... */   
/* for my standard 3-column output */
td.west { background-color: #eeeee0; width:12.5%; }
td.east { background-color: #eeeee0; width:25%; }
td.centre { width:62.5%; }
/* all lowercase, lines between items */
table.linklist td,th {
  border-bottom: thin solid grey;
  text-align: left; text-transform: lowercase;
}
table.linklist th {
  padding-top: 1em;
}
table.linklist {
  border: thin solid;
}

pre.notcode { font-family:sans-serif }
pre.example {
  background-color:#eeeee0;
  border-style:solid; border-width:1px;
  font-family:monospace; font-weight:bold;
  margin:2em;
  width:60%;
}

div.entry-date: {
 background-color:#eeeee0;
 width:100%;
}
div.entry-date .date {
 font-weight:bold; font-size:+3;
}
